*.pyc
*.db
*.db-journal
*.tar
*.gz
*.log
*.old
*.tmp

/sowa.conf
/public_html/config.inc.php



#ARCHIVE
#CHANGELOG
#INSTALL

#module/
#module/*
#!module/__init__.py
#!module/sw_sqlite3.py
#!module/sw_termopara.py

#lib/w1thermsensor/.git/
#lib/w1thermsensor/.git*

#lib/max31855/.git/
#lib/max31855/.git*
